<p>Your registration details</p>
<p>Name: <%= @registration.your_name %></p>
<p>Email: <%= @registration.email %></p>
<p>Phone_number: <%= @registration.phone_number %></p>
<p>courses: <%= @registration.course_of_interest %></p>
<p>message: <%= @registration.message %></p>

<h1>Thank you for registering!</h1>