<<!-- div class="background-container" id="particles-js">
 <%= form_for @registration, url: registration_index_url(@registration) do |f| %>
    <div class="count-particles">
      <div class="form-box" style="background-color: white;">
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :your_name %>
            <%= f.text_field :your_name, class: "form-control", placeholder: "Enter your first name" %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control", placeholder: "Type your email here" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :phone_number %>
            <%= f.text_field :phone_number, class: "form-control", placeholder: "Type your email here" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :course_of_interest, "Course Interested<span class='text-danger'>*</span>".html_safe %>
          <%= f.select :course_of_interest, options_for_select(["------------Select Course------------", "Cyber Security", "Game Development", "Ethical Hacking", "Python", "HTML5", "CSS3", "Bootstrap", "Javascript", "JQuery", "Ajax", "Angular JS", "C Programming", "Advance C++", "PHP", "Core Java", "Advance Java", "Corporate Java", "Android", "IOS", "Big Data", "Hadoop"]), { prompt: "Please Select Course" }, class: "form-control", required: true %>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :message, "Your Message<span class='text-danger'>*</span>".html_safe %>
            <%= f.text_area :message, class: "form-control", rows: 8, placeholder: "Write your message" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.button "Submit", class: "btn btn-primary", style: "margin-bottom: 12px; width: 49%; margin-left: 101px;" %>
        </div>
      </div>
    </div>
  <% end %>
</div> -->

